/**
 * =================================================================================
 * SERVICES
 * =================================================================================
 */

.services {
    width: 100%;

    .waves {
        display: flex;
        height: 168px;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100%;

        .object {
            bottom: -64px;
            height: inherit;
            object-fit: contain;
            position: absolute;
            transform: scale(1.4);
            width: 100%;
        }
    }

    .content {
        height: 70px;
        background: var(--services-background-color);
        width: 100%;
    }
}

@media screen and (min-width: 360px) {
    .services {
        .waves {
            height: 180px;

            .object {
                bottom: -62px;
                transform: scale(1.2);
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .services {
        .waves {
            height: 210px;

            .object {
                bottom: -68px;
                transform: scale(1.2);
            }
        }
    }
}

@media screen and (min-width: 660px) {
    .services {
        .waves {
            .object {
                transform: scale(1);
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .services {
        .waves {
            height: 230px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .services {
        .waves {
            height: 300px;

            .object {
                transform: scale(1.2);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .services {
        .waves {
            height: 320px;

            .object {
                bottom: -80px;
                transform: scale(1);
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .services {
        .waves {
            bottom: -56px;
            height: 500px;

            .object {
                max-width: 1920px;
            }
        }
    }
}