/**
 * =================================================================================
 * SERVICES
 * =================================================================================
 */

.services {
    min-width: 0;
    width: 100%;

    .content {
        align-items: center;
        background: var(--services-background-color);
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 18px 128px 18px;
        width: 100%;

        .wrapper {
            display: grid;
            grid-template-columns: 1fr;
            max-width: 785px;
            row-gap: 30px;
            width: 100%;
        }

        .service {
            background: var(--services-card-background-color);
            border: 2px solid var(--services-card-border-color);
            border-radius: 6px;
            padding: 32px 30px 32px 30px;
            width: 100%;
        }

        .service-content {
            padding: 84px 0 44px 0;

            .icon-box {
                align-items: center;
                display: flex;
                height: 38px;
                justify-content: center;
                width: 38px;

                &--icon {
                    color: var(--services-card-icon-color);
                    font-size: 36px;
                }
            }

            .title {
                color: var(--services-card-title-color);
                font-family: var(--font-rajdhani);
                font-size: 36px;
                font-weight: 700;
                padding: 30px 0 0 0;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .services {
        .content {
            padding: 0 20px 128px 20px;
        }
    }
}

@media screen and (min-width: 540px) {
    .services {
        .content {
            .wrapper {
                gap: 30px;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .services {
        .content {
            .wrapper {
                column-gap: 30px;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 0;
            }
        }
    }
}