/**
 * =================================================================================
 * PRESENTATION
 * =================================================================================
 */

.presentation {
    align-items: center;
    background: var(--presentation-background-color);
    display: flex;
    padding: 116px 24px 80px 24px;
    width: 100%;

    .wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .title-group {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: var(--font-rajdhani);
        margin: 0 0 18px 0;
        text-align: center;
        width: 100%;

        .title {
            color: var(--presentation-title-color);
            font-size: 46px;
            font-weight: 700;
            margin: 0 0 18px 0;
        }

        .subtitle {
            color: var(--presentation-subtitle-color);
            font-size: 36px;
            font-weight: 400;
        }
    }

    .text {
        color: var(--presentation-text-color);
        font-family: var(--font-archivo);
        font-size: 20px;
        font-weight: 200;
        margin: 0 0 20px 0;
        text-align: center;
    }
}

@media screen and (min-width: 480px) {
    .presentation {
        padding: 116px 25px 80px 25px;

        .wrapper {
            max-width: 600px;
        }

        .title-group {
            margin: 0 0 20px 0;

            .title {
                font-size: 62px;
                margin: 0 0 20px 0;
            }

            .subtitle {
                font-size: 50px;
            }
        }

        .text {
            font-size: 24px;
            margin: 0 0 24px 0;
        }

        button {
            width: 250px;
        }
    }
}

@media screen and (min-width: 768px) {
    .presentation {
        padding: 160px 30px 80px 30px;

        .title-group {
            margin: 0 0 25px 0;

            .title {
                font-size: 72px;
            }

            .subtitle {
                font-size: 60px;
            }
        }
    }
}