/**
 * =================================================================================
 * PROJECTS
 * =================================================================================
 */

.projects {
    align-items: center;
    background: var(--projects-background-color);
    display: flex;
    flex-direction: column;
    padding: 0 18px 128px 18px;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: relative;
    }

    .previous,
    .next {
        display: none;
    }

    .project {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 10px 0 10px;
        max-width: 786px;
        width: 100%;

        .about {
            .title {
                color: var(--projects-title-color);
                font-family: var(--font-rajdhani);
                font-size: 28px;
                font-weight: 600;
                margin: 0 0 14px 0;
            }

            .text {
                color: var(--projects-about-text-color);
                font-family: var(--font-archivo);
                font-size: 20px;
                font-weight: 200;
                margin: 0 0 20px 0;
            }

            .languages {
                column-gap: 10px;
                display: flex;
                margin: 0 0 16px 0;
            }

            .language-box {
                align-items: center;
                display: flex;
                height: 18px;
                justify-content: center;
                width: 18px;
            }

            .language {
                filter: var(--language-icon-color);
                height: 18px;
                width: 18px;
            }
        }
    }

    .project-box {
        background: var(--projects-img-box-color);
        border-radius: 5px;
        display: block;
        height: 220px;
        margin: 0 0 36px 0;
        width: 100%;
    }

    .ellipses {
        display: flex;
        justify-content: center;
        margin: 20px 0 0 0;
        width: 100%;

        .wrapper {
            column-gap: 10px;
            display: flex;
        }

        .ellipse {
            background: var(--projects-ellipse-color);
            border-radius: 50%;
            cursor: pointer;
            height: 10px;
            width: 10px;

            &--active {
                background: var(--projects-ellipse-active-color);
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .projects {
        padding: 0 20px 128px 20px;
    }
}

@media screen and (min-width: 640px) {
    .projects {
        .project {
            column-gap: 30px;
            flex-direction: row;

            .about {
                display: flex;
                flex: 1;
                flex-direction: column;
                height: 100%;
                justify-content: center;
            }
        }

        .project-box {
            height: 240px;
            margin: 0 0 0 0;
            width: 290px;
        }
    }
}

@media screen and (min-width: 800px) {
    .projects {
        .project {
            column-gap: 44px;
            padding: 0 20px 0 20px;

            .project-box {
                height: 246px;
                width: 320px;
            }

            .about {
                .title {
                    max-width: 270px;
                }
            }
        }
    }
}

@media screen and (min-width: 950px) {
    .projects {

        .previous,
        .next {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 56px;
            justify-content: center;
            position: absolute;
            width: 56px;

            &--icon {
                color: var(--projects-chevron-color);
                font-size: 40px;
            }
        }

        .previous {
            left: -56px;
        }

        .next {
            right: -56px;
        }
    }
}