/**
 * =================================================================================
 * TECHNOLOGIES
 * =================================================================================
 */

.technologies {
    align-items: center;
    background: var(--technologies-background-color);
    display: flex;
    flex-direction: column;
    padding: 0 18px 128px 18px;
    width: 100%;

    .wrapper {
        display: grid;
        row-gap: 30px;
        grid-template-columns: 1fr;
        width: 100%;

        .technology {
            background: var(--technologies-box-background-color);
            border: 2px solid var(--technologies-box-border-color);
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 30px 30px 30px 30px;

            .title {
                color: var(--technologies-box-title-color);
                font-family: var(--font-rajdhani);
                font-size: 30px;
                font-weight: 700;
                margin: 0 0 26px 0;
            }

            .container {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
            }

            .language {
                filter: var(--technology-icon-color);
                height: 40px;
                width: 40px;
            }

            .technology-box {
                align-items: center;
                background: var(--technology-background-color);
                border: 2px solid var(--technology-border-color);
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                height: 70px;
                justify-content: center;
                transition: border .2s ease-in-out, color .1s ease-in-out .2s;
                width: 70px;

                &:hover {
                    border: 2px solid var(--hover-technologies-box-border-color);
                }

                &:hover .language {
                    filter: var(--hover-technologies-box-icon-color);
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .technologies {
        padding: 0 20px 128px 20px;
    }
}

@media screen and (min-width: 706px) {
    .technologies {
        .wrapper {
            gap: 30px;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 860px) {
    .technologies {
        .wrapper {
            gap: 50px;
            max-width: 1040px;
        }
    }

}