/**
 * =================================================================================
 * SUMMARY
 * =================================================================================
 */

.summary {
    background: var(--summary-background-color);
    padding: 86px 18px 0 18px;
    width: 100%;

    .box {
        background: var(--summary-box-backgrond-color);
        border: 2px solid var(--summary-box-border-color);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 auto;
        max-width: 1148px;
        padding: 26px 26px 26px 26px;
        width: 100%;

        .cover {
            background: var(--summary-box-cover-color);
            border-radius: 5px;
            display: flex;
            height: 304px;
            margin: 0 0 36px 0;
            width: 100%;
        }

        .content {
            display: flex;
            flex-direction: column;
        }

        .title-group {
            font-family: var(--font-rajdhani);
            margin: 0 0 6px 0;

            .title {
                color: var(--summary-box-subtitle-color);
                font-size: 36px;
                font-weight: 700;
            }

            .subtitle {
                color: var(--summary-box-title-color);
                font-size: 28px;
                font-weight: 500;
                margin: 0 0 6px 0;
            }
        }

        .about {
            color: var(--summary-box-about-text-color);
            font-family: var(--font-archivo);
            margin: 0 0 20px 0;

            .description {
                font-size: 22px;
                font-weight: 200;
                margin: 0 0 24px 0;
            }

            .text {
                font-size: 20px;
                font-weight: 200;
                margin: 0 0 20px 0;
            }
        }

        .social {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: start;
            width: 100%;

            .social-box {
                align-items: center;
                background: var(--summary-box-social-box-color);
                border: 2px solid var(--summary-box-social-border-color);
                border-radius: 5px;
                display: flex;
                height: 72px;
                justify-content: center;
                width: 72px;
            }

            .social-icon {
                color: var(--summary-box-social-icon-color);
                font-size: 42px;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .summary {
        padding: 86px 20px 0 20px;

        .box {
            .title-group {
                .title {
                    font-size: 40px;
                }

                .subtitle {
                    font-size: 34px;
                }
            }

            .about {
                .description {
                    font-size: 24px;
                }

                .text {
                    font-size: 22px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .summary {
        padding: 130px 20px 0 20px;

        .box {
            .title-group {
                .title {
                    font-size: 48px;
                }

                .subtitle {
                    font-size: 44px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .summary {
        .box {
            flex-direction: row;

            .cover {
                height: 500px;
                margin: 0 44px 0 0;
                width: 480px;
            }

            .content {
                flex: 1;
                margin: 46px 0 0 0;
            }

            .title-group {
                .title {
                    font-size: 52px;
                }

                .subtitle {
                    font-size: 36px;
                }
            }

            .about {
                margin: 0 0 16px 0;
            }
        }
    }
}