/**
 * =================================================================================
 * MODAL
 * =================================================================================
 */

.area {
    height: 100vh;
    justify-content: center;
    overflow: auto;
    padding: 100px 10px 40px 10px;
    width: 100%;

    .modal {
        background: var(--services-modal-background-color);
        border: 2px solid var(--services-modal-border-color);
        margin: 0 auto;
        max-width: 440px;
        padding: 62px 20px 50px 20px;
        position: relative;
        width: 100%;
        z-index: calc(9999 + 2);

        .close {
            align-items: center;
            display: flex;
            height: 38px;
            justify-content: center;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 38px;

            .icon {
                font-size: 32px;
                color: var(--services-modal-close-icon-color);
                cursor: pointer;
                transition: color .1s ease-in-out;

                &:hover {
                    color: darken($color: #007bff, $amount: 12%);
                }
            }
        }

        .title {
            color: var(--services-modal-title-color);
            font-family: var(--font-rajdhani);
            font-size: 36px;
            font-weight: 700;
            margin: 0 0 20px 0;
        }

        .skills {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            li {
                align-items: center;
                color: darken($color: #ffffff, $amount: 26%);
                display: inline-flex;
                font-family: var(--font-rajdhani);
                font-size: 22px;
                font-weight: 600;

                &::before {
                    color: var(--services-modal-icon-color);
                    content: '\f00c';
                    font: var(--fa-font-solid);
                    font-size: 16px;
                    margin: 0 10px 0 0;
                    display: inline-block;
                }
            }
        }
    }
}