/**
 * =================================================================================
 * APP
 * =================================================================================
 */

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}

section {
    .main-title {
        color: var(--title-text-color);
        font-family: var(--font-rajdhani);
        font-size: 52px;
        font-weight: 700;

        .dot {
            animation: dotBlink 1s linear infinite;
            color: var(--title-dot-color);
            margin: 0 0 0 8px;
        }

        &--spacing {
            padding: 44px 0 46px 0;
        }
    }
}

.show-more {
    align-items: center;
    color: var(--show-more-link-color);
    display: flex;
    font-family: var(--font-rajdhani);
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    transition: color .1s ease-in-out;

    &:hover {
        /* static colors x.x */
        color: darken($color: #007bff, $amount: 12%);
    }

    &::after {
        background: url(../img/arrow-right.svg) center no-repeat;
        background-size: 15px 15px;
        content: '';
        display: inline-block;
        filter: var(--show-more-chevron-color);
        height: 15px;
        margin: 0 0 0 12px;
        transition: filter .1s ease-in-out, margin .25s ease-in-out .1s;
        vertical-align: middle;
        width: 15px;
    }

    &:hover::after {
        filter: var(--hover-show-more-chevron-color);
        margin: 0 0 0 20px;
    }
}