/**
 * =================================================================================
 * COMPONENTS
 * =================================================================================
 */

.btn {
    border: none;
    border-radius: 4px;
    color: var(--button-text-color);
    cursor: pointer;
    font-family: var(--font-rajdhani);
    font-size: 21px;
    font-weight: 700;
    height: 56px;
    outline: none;
    padding: 0 20px 0 20px;
    text-transform: capitalize;
    width: max-content;
}

.btn-primary {
    background: var(--button-background-color);
    border: 2px solid var(--button-border-color);
    transition: background-color .2s ease-in-out, border .2s ease-in-out .1s, color .06s ease-in-out .1s;

    &:hover {
        /* static colors x.x */
        border: 2px solid darken($color: #5696da, $amount: 8%);
        background: lighten($color: #007bff, $amount: 12%);
        color: lighten($color: #0e0e10, $amount: 5%);
    }
}