/**
 * =================================================================================
 * KEYFRAMES
 * =================================================================================
 */

@keyframes dotBlink {
    20% {
        color: var(--title-dot-color);
    }

    40% {
        color: var(--title-dot-color);
    }

    50% {
        color: var(--title-dot-color);
    }

    70% {
        color: var(--title-text-color);
    }

    90% {
        color: var(--title-text-color);
    }

    100% {
        color: var(--title-dot-color);
    }
}

@keyframes fadeAlert {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}