/**
 * =================================================================================
 * VARIABLES
 * =================================================================================
 */

:root {
    // APP
    --background-color: #121214;

    // HEADER
    --header-background-color: #0c0c0d;
    --header-border-color: #151518;
    --header-open-menu-icon: #ffffff;
    --header-logo-box: #0e0e10;
    --header-nav-link: #b5bcc5;

    // FONTS
    --font-rajdhani: 'Rajdhani', sans-serif;
}