/**
 * =================================================================================
 * VARIABLES
 * =================================================================================
 */

:root {
    // APP
    --background-color: #121214;
    --show-more-link-color: #007bff;
    --show-more-chevron-color: invert(28%) sepia(56%) saturate(3341%) hue-rotate(201deg) brightness(105%) contrast(104%);

    // HEADER
    --header-background-color: #0c0c0d;
    --header-border-color: #151518;
    --header-open-menu-icon-color: #ffffff;
    --header-logo-box-color: #0e0e10;
    --header-nav-link-color: #b5bcc5;

    // PRESENTATION
    --presentation-background-color: #0e0e10;
    --presentation-title-color: #007bff;
    --presentation-subtitle-color: #ffffff;
    --presentation-text-color: #b5bcc5;

    // SUMMARY
    --summary-background-color: #121214;
    --summary-box-backgrond-color: #111111;
    --summary-box-border-color: #1f1f1f;
    --summary-box-cover-color: #007bff;
    --summary-box-title-color: #007bff;
    --summary-box-subtitle-color: #ffffff;
    --summary-box-about-text-color: #b5bcc5;
    --summary-box-social-box-color: #111111;
    --summary-box-social-border-color: #1f1f1f;
    --summary-box-social-icon-color: #007bff;

    // SERVICES
    --services-background-color: #0e0e10;
    --services-card-background-color: #0e0e10;
    --services-card-border-color: #19191b;
    --services-card-icon-color: #007bff;
    --services-card-title-color: #ffffff;

    // PROJECTS
    --projects-background-color: #121214;
    --projects-img-box-color: #007bff;
    --projects-title-color: #ffffff;
    --projects-about-text-color: #b5bcc5;
    --projects-ellipse-color: #1b212c;
    --projects-ellipse-active-color: #007bff;
    --projects-chevron-color: #007bff;
    --projects-chevron-disable-color: #1b212c;

    // TECHNOLOGIES
    --technologies-background-color: #0e0e10;
    --technologies-card-background-color: #0e0e10;
    --technologies-card-border-color: #19191b;
    --technologies-card-title-color: #ffffff;

    // CONTACT
    --contact-background-color: #121214;

    // FORM
    --form-label-text-color: #b5bcc5;
    --form-input-background-color: #111113;
    --form-input-border-color: #19191b;
    --form-input-placeholder-text: #babcbf;
    --form-input-text-color: #b5bcc5;

    // INFORMATION
    --info-card-background-color: #111111;
    --info-card-border-color: #19191b;
    --info-card-icon-color: #007bff;
    --info-card-title-color: #007bff;
    --info-card-description-color: #b5bcc5;

    // FOOTER
    --footer-top-background-color: #111113;
    --footer-top-social-box-color: #111113;
    --footer-top-social-box-border-color: #171719;
    --footer-top-social-icon-color: #007bff;
    --footer-copy-background-color: #0c0c0d;
    --footer-copy-text-color: #b5bcc5;
    --footer-copy-author-color: #007bff;

    // LANGUAGES
    --language-icon-color: invert(91%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(94%) contrast(89%);

    // TECHNOLOGY
    --technology-icon-color: invert(29%) sepia(74%) saturate(3464%) hue-rotate(202deg) brightness(107%) contrast(102%);
    --technology-box-color: #0e0e10;
    --technology-border-color: #19191b;

    // BUTTONS
    --button-text-color: #0e0e10;
    --button-background-color: #007bff;
    --button-border-color: #5696da;

    // TITLE
    --title-text-color: #007bff;
    --title-dot-color: #ffffff;

    // ALERT
    --alert-text-color: #ffffff;
    --alert-danger-background-color: #621515;
    --alert-danger-border-color: #8e1313;

    // MESSAGE
    --message-success-icon-color: invert(58%) sepia(54%) saturate(445%) hue-rotate(65deg) brightness(93%) contrast(92%);
    --message-success-text-color: #5bb14e;

    // FONTS
    --font-archivo: 'Archivo', sans-serif;
    --font-platypi: 'Platypi', serif;
    --font-rajdhani: 'Rajdhani', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    // HOVER
    --hover-show-more-chevron-color: invert(27%) sepia(98%) saturate(1479%) hue-rotate(193deg) brightness(86%) contrast(111%);
    --hover-nav-link-color: #ffffff;
    --hover-nav-link-background-color: #007bff;
    --hover-nav-link-border-color: #5696da;
    --hover-social-box-border-color: #007bff;
    --hover-service-card-border-color: #007bff;
    --hover-technologies-box-border-color: #007bff;
    --hover-technologies-box-icon-color: invert(40%) sepia(99%) saturate(2197%) hue-rotate(195deg) brightness(99%) contrast(104%);
    --hover-info-card-border-color: #007bff;

    // FOCUS
    --input-focus-border-color: #9d9da4;
    --input-focus-shadow-color: #252527;
}