/**
 * =================================================================================
 * SIDEBAR
 * =================================================================================
 */

.sidebar {
    background: var(--sidebar-background-color);
    border-right: 2px solid var(--sidebar-border-color);
    height: 100vh;
    overflow: auto;
    position: fixed;
    width: 300px;
    z-index: calc(9999 + 2);

    .wrapper {
        height: max-content;
        padding: 56px 20px 68px 16px;
        position: relative;
        width: 100%;

        .close {
            align-items: center;
            display: flex;
            height: 38px;
            justify-content: center;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 38px;

            .icon {
                font-size: 32px;
                color: var(--sidebar-close-icon-color);
                cursor: pointer;
                transition: color .1s ease-in-out;

                &:hover {
                    color: darken($color: #007bff, $amount: 12%);
                }
            }
        }

        .navigation {
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                font-family: var(--font-rajdhani);
            }

            a {
                background: transparent;
                border: 1px solid transparent;
                border-radius: 4px;
                color: var(--sidebar-nav-link-color);
                display: block;
                font-size: 20px;
                font-weight: 600;
                padding: 12px 16px 12px 16px;
                text-decoration: none;
                transition: all .28s ease-in-out;

                &:hover {
                    background: var(--hover-sidebar-nav-link-background-color);
                    border: 1px solid var(--hover-sidebar-nav-link-border-color);
                    color: var(--hover-sidebar-nav-link-color);
                }
            }
        }
    }
}