/**
 * =================================================================================
 * FOOTER
 * =================================================================================
 */

footer {
    margin-top: auto !important;

    .footer-top {
        background: var(--footer-top-background-color);

        .container {
            max-width: 0 auto;
            padding: 20px 18px 20px 18px;
        }

        .social {
            display: flex;
            flex-wrap: wrap;
            gap: 18px;
            justify-content: center;
            width: 100%;

            .social-box {
                align-items: center;
                background: var(--footer-top-social-box-color);
                border: 2px solid var(--footer-top-social-box-border-color);
                border-radius: 5px;
                display: flex;
                height: 62px;
                justify-content: center;
                width: 62px;
            }

            .social-icon {
                color: var(--footer-top-social-icon-color);
                font-size: 34px;
            }
        }
    }
}