/**
 * =================================================================================
 * FOOTER
 * =================================================================================
 */

footer {
    margin-top: auto !important;
    width: 100%;

    .footer-top {
        background: var(--footer-top-background-color);
        width: 100%;

        .container {
            margin: 0 auto;
            max-width: 1200px;
            padding: 20px 18px 20px 18px;
            width: 100%;
        }

        .social {
            display: flex;
            flex-wrap: wrap;
            gap: 18px;
            justify-content: center;
            width: 100%;

            .social-icon {
                color: var(--footer-top-social-icon-color);
                font-size: 34px;
            }

            .social-box {
                align-items: center;
                background: var(--footer-top-social-box-color);
                border: 2px solid var(--footer-top-social-box-border-color);
                border-radius: 5px;
                display: flex;
                height: 62px;
                justify-content: center;
                transition: border .2s ease-in-out, color .1s ease-in-out .2s;
                width: 62px;

                &:hover {
                    border: 2px solid var(--hover-social-box-border-color);
                }

                &:hover .social-icon {
                    /* static colors x.x */
                    color: lighten($color: #007bff, $amount: 5%);
                }
            }
        }
    }

    .footer-copy {
        background: var(--footer-copy-background-color);
        width: 100%;

        .container {
            margin: 0 auto;
            max-width: 1200px;
            padding: 22px 18px 22px 18px;
            width: 100%;
        }

        p {
            color: var(--footer-copy-text-color);
            font-family: var(--font-rajdhani);
            font-weight: 700;
            text-align: center;
            word-break: break-word;

            .copy-symbol {
                font-family: var(--font-roboto);
                font-size: 18px;
                font-weight: 900;
                margin: 0 4px 0 0;
                vertical-align: middle;
            }

            .author {
                color: var(--footer-copy-author-color);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {
    footer {
        .footer-top {
            .container {
                padding: 20px 20px 20px 20px;
            }
        }

        .footer-copy {
            .container {
                padding: 22px 20px 22px 20px;
            }
        }
    }
}

@media screen and (min-width: 902px) {
    footer {
        .footer-copy {
            p {
                text-align: start;
            }
        }
    }
}